<h2>Editer le livre {{user? user.name : ''}}</h2>
<form #f="ngForm" (ngSubmit)="editUser(f)" >
    <div class="mb-3">
      <label for="name" class="form-label">Name *</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        #name
        ngModel
        required
        #t="ngModel">
      <div
        *ngIf="t.invalid && t.touched"
        class="error">
          Le champ titre est obligatoire!
      </div>
    </div>
    <div class="mb-3">
      <label
        for="email"
        class="form-label">
          Email *
        </label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        #email
        ngModel
        required
        #aut="ngModel">
        <div
        *ngIf="aut.invalid && aut.touched"
        class="error">
          Le champ auteur est obligatoire!
      </div>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Password</label>
      <input type="text" class="form-control" id="prix" name="password" #password ngModel>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="f.invalid" >Valider</button>
  </form>